<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later
%>
<%= form_with(model: bookmark) do |form| %>
	<% if bookmark.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
			<ul>
				<% bookmark.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p class="field">
		<%= form.label :title, Bookmark.human_attribute_name(:title) + ":" %>
		<%= form.text_field :title, autocomplete: "off" %>
	</p>

	<p class="field">
		<%= form.label :uri, Bookmark.human_attribute_name(:uri) + ":" %>
		<%= form.text_field :uri, autocomplete: "off" %>
	</p>

	<p class="field">
		<%# :tags is used for the label text because it's plural %>
		<%# but :tags_string is singular (for error messages) %>
		<%= form.label :tags_string, Bookmark.human_attribute_name(:tags) + ":" %>
		<%= form.text_field :tags_string, autocomplete: "off" %>
	</p>

	<p class="actions">
		<%= form.submit %>
	</p>
<% end %>
