<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later
%>
<p><%= link_to "New", new_bookmark_path, rel: "nofollow" %></p>
<% unless list.tags.empty? %>
<h2>Tags</h2>
<ul class="tags">
	<% list.tags.each do |tag|
		if tag.search_match? then
			%><li class="matching">
			<strong><%
		else
			%><li><%
		end
		%>
			<%= link_to_search_by_tags(tag) %>
			<% if tag.search_match? %></strong><% end %>
			<span class="count"><span class="alt_text">(</span><%= tag.count %><span class="alt_text">)</span></span>
		</li>
	<% end %>
</ul>
<% end %>
<h2>Bookmarks</h2>
<ol class="bookmarks">
	<% list.bookmarks.each do |bookmark| %>
	<li>
		<%= link_to bookmark.title, bookmark.uri %><%
			uri = URI.parse(bookmark.uri)
			if uri.host
				%> (<%= uri.host %>)<%
			end
		%>
		<dl>
			<dt><span class="alt_text"><%= Bookmark.human_attribute_name(:tags) %>:</span></dt>
			<dd>
				<ul class="item_tags">
					<% bookmark.tags.each do |tag| %>
						<% if tag.search_match? %><strong><% end %>
						<li><%= link_to_search_by_tags(tag) %></li>
						<% if tag.search_match? %></strong><% end %>
					<% end %>
				</ul>
			</dd>
			<dt><span class="alt_text">Actions:</span></dt>
			<dd>
				<ul class="item_menu">
					<li><%= link_to "Edit", edit_bookmark_path(bookmark), rel: "nofollow" %></li>
					<%= render "bookmark_menu", bookmark: bookmark %>
				</ul>
			</dd>
		</dl>
	</li>
	<% end %>
</ol>
