<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later
%>
<header>
<nav>
<ul class="main menu">
<% if user_signed_in? %>
	<li><%= link_to "New", new_bookmark_path, rel: "nofollow", class: "new" %></li>
	<li><%= link_to "🔖", bookmarklet_uri, title: "Bookmarklet to create a new bookmark", rel: "nofollow", class: "bookmarklet" %></li>
<% end %>
	<li><%= link_to "Skip to content", "#main", class: "skip" %></li>
<% if user_signed_in? %>
	<li><%= link_to "Edit user", edit_user_registration_path, rel: "nofollow", class: "account" %></li>
	<li><%= link_to "Logout", destroy_user_session_path(request_forgery_protection_token => form_authenticity_token), rel: "nofollow", class: "logout" %></li>
<% else %>
	<li><%= link_to "Login", new_user_session_path, rel: "nofollow", class: "login" %></li>
<% end %>
	<li><%= link_to "About", about_source_path, class: "source" %></li>
</ul>
</nav>
<% if @list.tags.present? %>
<h2>Tags</h2>
<ul class="main tags">
	<% @list.tags.each do |t| %>
		<%= tag.li(class: t.search_match? ? "matching" : nil) do
			%><% if t.search_match? %><strong><% end
			%><%= link_to_search_by_tags(t) do
				%><span class="name"><%= t.name %></span>&nbsp;<span class="count"><span class="no_css">(</span><%= t.count %><span class="no_css">)</span></span><%
			end
			%><% if t.search_match? %></strong><% end
		end %>
	<% end %>
</ul>
<% end %>
</header>
<main id="main">
<% if @list.bookmarks.present? %>
<h2>Bookmarks</h2>
<ol id="bookmarks" class="bookmarks" start="<%= @list.pagination.offset + 1 %>">
	<%= render "list_bookmarks" %>
</ol>
<% else %>
<p>No bookmarks.</p>
<% end %>
</main>
<footer>
<div id="pagination">
	<%= render "list_pagination" %>
</div>
<% if @list.pagination.pages > 1 %>
<script type="text/javascript">
Bookmarks.incrementalStart();
</script>
<% end %>
</footer>
