<h1>Bookmarks</h1>
<p><%= link_to "New", new_bookmark_path() %></p>
<ul>
	<%- @bookmarks.each do |bookmark| -%>
	<li>
		<%= link_to bookmark.title, bookmark.uri %><%
			uri = URI.parse(bookmark.uri)
			if uri.host
				%> (<%= uri.host %>)<%
			end
		%>
		<ul>
			<li><%= link_to "Edit", edit_bookmark_path(bookmark) %></li>
			<li><%= link_to "Delete", bookmark_path(bookmark), method: :delete %></li>
		</ul>
	</li>
	<%- end %>
</ul>
