<p id="notice"><%= notice %></p>

<dl>
	<dt><%= Bookmark.human_attribute_name(:title) %></dt>
	<dd><%= @bookmark.title %></dd>
</dl>

<dl>
	<dt><%= Bookmark.human_attribute_name(:uri) %></dt>
	<dd><%= link_to @bookmark.uri, @bookmark.uri %></dd>
</dl>

<dl>
	<dt><%= Bookmark.human_attribute_name(:tags) %></dt>
	<dd><%= @bookmark.tags_string %></dd>
</dl>

<ul class="menu">
	<li><%= link_to 'Back', bookmarks_path %></li>
	<li><%= link_to 'Edit', edit_bookmark_path(@bookmark) %></li>
</ul>
