<%
# SPDX-FileCopyrightText: 2021,2025 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later

content_for :title, "#" + @bookmark.id.to_s
content_for :robots, "noindex"
%>
<dl class="bookmark">
	<dt class="title"><%= Bookmark.human_attribute_name(:title) %></dt>
	<dd class="title"><%= @bookmark.title %></dd>
	<dt class="uri"><%= Bookmark.human_attribute_name(:uri) %></dt>
	<dd class="uri"><%= link_to @bookmark.uri, @bookmark.uri %></dd>
	<% if @bookmark.tags.present? %>
		<%# :tags is used for the label text because it's plural %>
		<%# but :tags_string is singular (for error messages) %>
		<dt class="tags"><%= Bookmark.human_attribute_name(:tags) %></dt>
		<dd class="tags">
			<ul class="single tags">
				<% @bookmark.tags.each do |t| %>
					<%= tag.li do
						%><%= link_to_search_by_tags(nil, t) do
							%><span class="name"><%= t.name %></span>&nbsp;<span class="count"><span class="no_css">(</span><%= t.count %><span class="no_css">)</span></span><%
						end %><%
					end %>
				<% end %>
			</ul>
		</dd>
	<% end %>
	<% if user_signed_in? %>
		<% case current_user.visibility.to_sym %>
		<% when :secret, :private %>
			<% if @bookmark.secret? %>
				<dt class="visibility"><%= Bookmark.human_attribute_name(:secret) %></dt>
				<dd class="visibility"><%= visibility_icon(:secret) %></dd>
			<% elsif @bookmark.private? %>
				<dt class="private"><%= Bookmark.human_attribute_name(:private) %></dt>
				<dd class="visibility"><%= visibility_icon(:private) %></dd>
			<% else %>
				<dt class="private"><%= Bookmark.human_attribute_name(:public) %></dt>
				<dd class="visibility"><%= visibility_icon(:public) %></dd>
			<% end %>
		<% end %>
	<% end %>
</dl>

<ul class="menu">
<% if user_signed_in? %>
	<li><%= link_to "Edit", edit_bookmark_path(@bookmark, auto_params_context), rel: "nofollow", class: "edit" %></li>
<% end %>
	<li><%= link_to "Back", auto_root_path, class: "back" %></li>
	<li><%= link_to "Delete", delete_bookmark_path(@bookmark, auto_params_context(request_forgery_protection_token => form_authenticity_token)), rel: "nofollow", class: "delete", data: { confirm: "Are you sure?" } %></li>
</ul>
