<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later

content_for :title, "#" + @bookmark.id.to_s
content_for :robots, "noindex"
%>
<dl class="bookmark">
	<dt class="title"><%= Bookmark.human_attribute_name(:title) %></dt>
	<dd class="title"><%= @bookmark.title %></dd>
	<dt class="uri"><%= Bookmark.human_attribute_name(:uri) %></dt>
	<dd class="uri"><%= link_to @bookmark.uri, @bookmark.uri %></dd>
	<% if @bookmark.tags_string.present? %>
		<%# :tags is used for the label text because it's plural %>
		<%# but :tags_string is singular (for error messages) %>
		<dt class="tags"><%= Bookmark.human_attribute_name(:tags) %></dt>
		<dd class="tags"><%= @bookmark.tags_string %></dd>
	<% end %>
	<% if user_signed_in? %>
		<% if @bookmark.private? %>
			<dt class="private"><%= Bookmark.human_attribute_name(:private) %></dt>
			<dd class="private">🔒</dd>
		<% else %>
			<dt class="private"><%= Bookmark.human_attribute_name(:public) %></dt>
			<dd class="private">🔓</dd>
		<% end %>
	<% end %>
</dl>

<ul class="menu">
<% if user_signed_in? %>
	<li><%= link_to "Edit", edit_bookmark_path(@bookmark), rel: "nofollow", class: "edit" %></li>
<% end %>
	<li><%= link_to "Back", root_path, class: "back" %></li>
	<li><%= link_to "Delete", delete_bookmark_path(@bookmark, request_forgery_protection_token => form_authenticity_token), rel: "nofollow", class: "delete", data: { confirm: "Are you sure?" } %></li>
</ul>
