<p id="notice"><%= notice %></p>

<dl class="bookmark">
	<dt class="title"><%= Bookmark.human_attribute_name(:title) %></dt>
	<dd class="title"><%= @bookmark.title %></dd>
	<dt class="uri"><%= Bookmark.human_attribute_name(:uri) %></dt>
	<dd class="uri"><%= link_to @bookmark.uri, @bookmark.uri %></dd>
	<%# :tags is used for the label text because it's plural %>
	<%# but :tags_string is singular (for error messages) %>
	<dt class="tags"><%= Bookmark.human_attribute_name(:tags) %></dt>
	<dd class="tags"><%= @bookmark.tags_string %></dd>
</dl>

<ul class="menu">
	<li><%= link_to 'Edit', edit_bookmark_path(@bookmark), rel: "nofollow" %></li>
	<li><%= link_to 'Back', root_path %></li>
</ul>
