<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later
%>
<!DOCTYPE html>
<!--
<%== render(partial: "about/copyright", formats: :txt, locals: { full: true }).to_str.strip.gsub("--", "\u2010\u2010").indent(1, "\t") %>
-->
<html>
	<head>
		<title>Bookmarks<%= (": " + yield(:title) unless yield(:title).blank?).to_s %></title>
		<% unless yield(:robots).blank? then %>
		<meta name="robots" content="<%= yield(:robots) %>">
		<% end %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<% if session_active? %>
			<%= csrf_meta_tags %>
			<%= csp_meta_tag %>
		<% end %>
		<% if yield(:redirect).present? then %>
			<meta http-equiv="refresh" content="0;url=<%= yield(:redirect) %>">
			<script type="text/javascript">
			document.location.replace("<%= yield(:redirect) %>");
			</script>
		<% else %>
			<%= stylesheet_link_tag "application", media: "all" %>
			<%= javascript_pack_tag "application" %>
		<% end %>
		<%= favicon_link_tag "data:image/svg+xml,#{url_encode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🔖</text></svg>')}", rel: "icon", type: "image/svg+xml" %>
	</head>

	<body>
		<p id="alert"><%= alert %></p>
		<p id="notice"><%= notice %></p>
		<%= yield %>
	</body>
</html>
