<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later
%>
<!DOCTYPE html>
<html>
	<head>
		<title>Bookmarks<%= (": " + yield(:title) unless yield(:title).blank?).to_s %></title>
		<% unless yield(:robots).blank? then %>
		<meta name="robots" content="<%= yield(:robots) %>">
		<% end %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
